%div{class: 'pushdown'}
%h2{id: 'user-name'} Fetching...
%div
  %div{class: 'col-xs-12 col-sm-4', id: 'user-email'}
  %div{class: 'col-xs-12 col-sm-4'}
    %span{class: 'glyphicon glyphicon-heart'}
    %span{id: 'karma-point'}
  %div{class: 'col-xs-12 col-sm-4'}
    Streak: 
    %span{id: 'user-streak'}
  
%h3{class: 'divs'} Weets
%table{class: 'table'}
  %thead
    %tr
      %th Date
      %th Weet
      %th State
  %tbody{id: 'user-weets'}
%h3{class: 'divs'} Activities
%table{class: 'table'}
  %thead
    %tr
      %th Date
      %th Weeter
      %th Weet
      %th{style: 'width: 36px'} State
      %th{style: 'width: 36px'} Vote
  %tbody{id: 'user-votes'}

= stylesheet_link_tag 'bootstrap-editable'
= stylesheet_link_tag 'weeet'
= stylesheet_link_tag 'activity'

:javascript
  var user_scripts_loaded = false
  var user_id = "#{@id}"
  var current_user_id = "#{@current_user ? @current_user.id : -1}"
  $(document).on('turbolinks:load', function() {
    if (!user_scripts_loaded) {
      activity.init()
      layout.initialize_tooltips()
      layout.initialize_editable()
      user_scripts_loaded = true
    }
  })